src/main/resources/car.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="car">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="brand" type="xsd:string" />
                <xsd:element name="year" type="xsd:int" />
                <xsd:element name="color" type="xsd:string" />
                <xsd:element name="model" type="xsd:string" />
                <xsd:element name="horsePower" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>